<section class="forkio">
    <header class="header ">
        <div class="header-wraper">
            <a href="#" class="header__logo">
                <img src="../dist/img/first_section/Logo1.png" alt="logo-hover" />
                <img src="../dist/img/first_section/logo-hover.png" alt="logo-hover" />
                <span class="header__logo-text">Forkio</span>
            </a>

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav_item">
                        <a href="#">Overview</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">About Fork</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">Buying Options</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">Support</a>
                    </li>
                </ul>
            </nav>

            <button class="button header-button">Buy Now</button>

            <div class="burger">
                <span class="burger__item  burger__item--short"></span>
                <span class="burger__item  burger__item--midle"></span>
                <span class="burger__item  burger__item--bottom"></span>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="start__info">
            <div class="intro ">
                <div class="intro__info">
                    <div class="intro__text">
                        <h2 class="intro__title">Fork App</h2>
                        <span class="intro__sub-title">A Real Gamechanger In The World Of Web-Development</span>
                        <span class="intro__version">v. 2.8 For Mac and Windows</span>
                    </div>
                </div>
                <button class=" button button-info">Download For Free Now</button>
            </div>
        </section>
    </main>
</section>