<main class="main">
      

      

    <section class="pricing">
        <div class="container">
        <h2 class="pricing__title">Fork Subscription Pricing</h2>
        <div class="pricing__offer">
            <div class="offer__item">
                <p class="offer__item-header">Students</p>
                <p class="offer__item-price">29</p>
                <p class="offer__item-price-info">per month</p>
                <div class="offer__item-description">Personal License</div>
                <button class="offer__item-btn">purchase</button>
            </div>
            <div class="offer__item">
                <p class="offer__item-header">professional</p>
                <p class="offer__item-price">59</p>
                <p class="offer__item-price-info">per month</p>
                <div class="offer__item-description">Professional License Email Support</div>
                <button class="offer__item-btn">purchase</button>
            </div>
            <div class="offer__item active">
                <p class="offer__item-header">agency</p>
                <p class="offer__item-price">99</p>
                <p class="offer__item-price-info">per month</p>
                <div class="offer__item-description">1-12 Team Members Phone Support</div>
                <button class="offer__item-btn">purchase</button>
            </div>
            <div class="offer__item">
                <p class="offer__item-header">enterprise</p>
                <p class="offer__item-price">159</p>
                <p class="offer__item-price-info">per month</p>
                <div class="offer__item-description">Unlimited Team Members 24/ 7 Phone Support</div>
                <button class="offer__item-btn">purchase</button>
            </div>
        </div>
    </div>
    </section>
</main>