<main class="main">
  <section class="revolutionary">
    <div class="container">
      <div class="revolutionary__wrapper">
        <h2 class="revolutionary__title">Revolutionary editor</h2>
        <p class="revolutionary__text">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </p>
        <div class="revolutionary__info">
          <div class="info__item">
            <p class="info__icons info__icons_eye">Watch</p>
            <p class="info__counter">1,397</p>
          </div>
          <div class="info__item">
            <p class="info__icons info__icons_star">Star</p>
            <p class="info__counter">21,038</p>
          </div>
          <div class="info__item">
            <p class="info__icons info__icons_fork">Fork</p>
            <p class="info__counter">4,391</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
