<section class="people">
    <h2 class="people__title">People Are Talking About Fork</h2>
    <ul class="people__grid">
        <li>
            <img src="../dist/img/third_section/logosmas.png" alt="">
            <p>
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                varius urna et pulvinar venenatis.
            </p>
        </li>
        <li>
            <img src="../dist/img/third_section/logodrops.png" alt="">
            <p>
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                varius urna et pulvinar venenatis.
            </p>
        </li>
        <li>
            <img src="../dist/img/third_section/logow.png" alt="">
            <p>
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                varius urna et pulvinar venenatis.
            </p>
        </li>
        <li>
            <img src="../dist/img/third_section/logopixel.png" alt="">
            <p>
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                varius urna et pulvinar venenatis.
            </p>
        </li>
        <li>
            <img src="../dist/img/third_section/logocb.png" alt="">
            <p>
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                varius urna et pulvinar venenatis.
            </p>
        </li>
        <li>
            <img src="../dist/img/third_section/logotnw.png" alt="">
            <p>
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed
                varius urna et pulvinar venenatis.
            </p>
        </li>
    </ul>
    <p class="people__footer">
        Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis
        nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus.
    </p>
    <hr class="people__line">
</section>
