<main class="main">
    <section class="what-you-get">
        <div class="container">
        <div class="what-you-get__wrapper">
            <h2 class="what-you-get__title">Here is what you get</h2>
            <div class="what-you-get__items-block">
                <div class="what-you-get__item">
                    <div class="item__img">
                        <img src="../dist/img/WYG_icon1.png" alt="WYG icon">
                    </div>
                    <div class="item__text">
                        <h3 class="item__text-title">Creatred to Make The Web Better</h3>
                        <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                    </div>
                </div>
                <div class="what-you-get__item">
                    <div class="item__img">
                        <img src="../dist/img/WYG_icon2.png" alt="WYG icon">
                    </div>
                    <div class="item__text">
                        <h3 class="item__text-title">Incredibly Powerful Tool</h3>
                        <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </div>
                <div class="what-you-get__item">
                    <div class="item__img">
                        <img src="../dist/img/WYG_icon3.png" alt="WYG icon">
                    </div>
                    <div class="item__text">
                        <h3 class="item__text-title">Experimental Stuff</h3>
                        <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </div>
                <div class="what-you-get__item">
                    <div class="item__img">
                        <img src="../dist/img/WYG_icon4.png" alt="WYG icon">
                    </div>
                    <div class="item__text">
                        <h3 class="item__text-title">Creatred to Make The Web Better</h3>
                        <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
            <div class="what-you-get__image">
                <img src="../dist/img/editor_desktop.png" alt="What you get">
            </div>
        </div>
    </div>

    </section>
</main>