.button {
    border: 1px solid transparent;
    background-color: rgba(141, 129, 172, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    padding: 12px 25px;   
    border-radius: 40px;

    &:hover{
        background-color: rgba(255, 255, 255, 1);
        color: rgba(141, 129, 172, 1);
        border-color: rgba(141, 129, 172, 1);
        cursor: pointer;
     }
}
