.header {
    font-family: $monsterrat;
    background-color: rgba(39, 38, 42, 1);
    position: relative;

    &-wraper {
        margin: 0 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
    }

    &__logo {
        & img {
            height: 41px;
            width: 43px;
        }

        & img:nth-child(1) {
            display: block;
        }

        & img:nth-child(2) {
            display: none;
        }

        &-text {
            text-transform: uppercase;
            color: rgba(141, 129, 172, 1);
            font-weight: 700;
            font-size: 24px;
            line-height: 16px;
            display: none;
        }
    }
}

.burger {
    width: 26px;
    height: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__item {
        width: 100%;
        border-radius: 5px;
        height: 3px;
        background-color: rgba(255, 255, 255, 1);

        &__short {
            width: 50%;
            align-self: flex-end;
        }
    }
}


.burger.active>.burger__item--short {
    display: none;
}

.burger.active>.burger__item--midle {

    transform: rotate(55deg) translate(8px, 5px);
}

.burger.active>.burger__item--bottom {

    transform: rotate(-55deg) translate(7px, -5px);

}
.nav {
    position: absolute;
    top: 100px;
    right: 15px;
    z-index: 1;
    display: none;

    &.open {
        display: block;
    }

    &__list {
        width: 290px;
        background-color: rgba(51, 51, 51, 1);
        box-sizing: border-box;
    }

    & a {
        color: rgba(141, 129, 172, 1);
        font-size: 26px;
        line-height: 26px;
        padding: 29px 35px 21px;
        border-bottom: 3px solid rgba(59, 59, 59, 1);
        display: block;
        position: relative;
    }

    & a:focus {
        color: rgba(255, 255, 255, 1);
    }

    & a:focus:after {
        content: "";
        width: 8px;
        height: 53px;
        display: block;
        background-color: rgba(141, 129, 172, 1);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}


@media (min-width:481px) {
    .header__logo {
        justify-self: start;
        display: flex;
        align-items: center;
        gap: 17px;

        &:hover &-text {
            color: rgba(255, 255, 255, 1);
        }

        &:hover img:nth-child(1) {
            display: none;
        }

        &:hover img:nth-child(2) {
            display: block;
        }

        &-text {
            display: block;

        }
    }

    .header-wraper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 20px;
    }

    .header-button {
        grid-row: 1;
        grid-column: 2;
        justify-self: flex-end;
    }

    .burger {
        display: none;
    }

    .nav {
        display: block;
        position: static;
        grid-column: 1/3;

        &__list {
            width: auto;
            box-sizing: border-box;
            background-color: inherit;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        & li {
            margin-right: 47px;
        }

        & li:last-child {
            margin-right: 0;
        }

        & a {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            padding: 10px 0;
            border-bottom: none;
        }

        & a:focus:after {
            content: "";
            display: none;
        }
    }
}

@media (min-width:993px) {
    .header-wraper {
        margin: 0 80px 0 80px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        padding-top: 20px;
        column-gap: 47px;
    }

    .header-button {
        grid-column: 3;
    }

    .nav {
        grid-column: 2;
        justify-self: end;
    }

    .header {
        background: rgba(0, 0, 0, 1);
    }
}