@mixin fontStyle ($font:$lato, $fSize: 16px, $fWeight: 700, $color: rgba(78, 78, 78, 1)) {
    font-size: $fSize;
    font-family: $font;
    font-weight: $fWeight;
    //line-height: 24px;
    letter-spacing: 1px;
    color: $color; 
    text-align: center;
}

@mixin displayFlex($jusContent: center, $flDirect: column,$aItems: center,) {
    display: flex;
    flex-direction: $flDirect;
    align-items: $aItems;
    justify-content: $jusContent;
}

@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin text ($color-text, $font-size-text, $font-weight-text, $line-height-text) {
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: $color-text;
    font-size: $font-size-text;
    font-weight: $font-weight-text;
    line-height: $line-height-text;
}

@mixin flex-center () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center_space-between () {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin background-position () {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin container {
    padding: 0 10px;
}