@import"variables";

.people {
    max-width: 1200px;
    background: url("../img/third_section/thirdBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include push--auto();
    @include displayFlex($jusContent: space-between);
    &__title {
        @include fontStyle($font: $monsterrat, $fSize: 48px, $fWeight: 700, $color: rgba(255, 255, 255, 1));
        padding-top: 100px;
        line-height: 50px;
    }
    &__grid {       
       // height: 100%;
        margin: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 90px;
        li {
            @include displayFlex()
        }
        p {
            margin-top: 20px;
            @include fontStyle($fSize: 16px, $fWeight: 700, $color: rgba(255, 255, 255, 1));
            font-style: italic;
            line-height: 24px;
        }
    }
    &__footer {
        @include fontStyle($fSize: 14px, $fWeight: 400, $color: rgba(162, 145, 165, 1));
        @include push--auto();
        margin: 10px 10px 10px;       
    }

    &__line {
        border: 1px solid rgba(100, 87, 102, 1);
        border-bottom-width: 0;
        width: 780px;
        margin: 20px 50px 10px 50px;
    }    
}
@media (min-width: 481px) and (max-width: 992px)  {
    .people {        
        min-width: 481px;
        background-size: cover;       
        &__title {
            @include fontStyle($font: $monsterrat, $fSize: 36px, $fWeight: 700, $color: rgba(255, 255, 255, 1));
            line-height: 48px;
            padding-top: 40px;
        }    
        &__grid {
           margin: 15px 15px 15px;
            grid-template-columns: repeat(2, 1fr);            
            gap: 15px;
        }
        &__footer {
            @include fontStyle($fSize: 14px, $fWeight: 400, $color: rgba(162, 145, 165, 1));
            width: 100%;
           margin: 10px 10px 10px;
        }
        &__line {
           width: 380px;
           margin: 20px 0px 10px 0px;
        }    
    }
}
@media (min-width: 320px) and (max-width: 480px)  {
    .people {        
        min-width: 320px;
        background-size: cover;       
        &__title {
            @include fontStyle($font: $monsterrat, $fSize: 36px, $fWeight: 700, $color: rgba(255, 255, 255, 1));
            line-height: 48px;
            padding-top: 40px;
        }    
        &__grid {
           margin: 15px 15px 15px;
            grid-template-columns: repeat(1, 1fr);            
            gap: 15px;
        }
        &__footer {
            @include fontStyle($fSize: 14px, $fWeight: 400, $color: rgba(162, 145, 165, 1));
            width: 100%;
           margin: 10px 15px 10px;
        }
        &__line {
           width: 280px;
           margin: 20px 0px 10px 0px;
        }    
    }
}