@import "reset";
@import "variables";
@import "mixins";
@import "section_revolutionary";
@import "section_what-you-get";
@import "section_pricing.scss";

.main {
   max-width:1200px;
   margin-left: auto;
   margin-right: auto;
}
